
@{
    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Listele</h2>
@Html.ActionLink("Doldur", "VeriGetir")

@Html.Partial("../_PartialPage",(List<int>)ViewBag.Deger)

