
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutNested.cshtml";
}

<h2>Hakkimizda</h2>
@section Yan {
    <p class="bg-success"></p>
}
@ViewData["Hak"] <br />
@ViewBag.hakkimizda <br />
@TempData["Hakkimizda"]



